### gradle ###
.gradle
target/
build/
bin/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Include the copyright files ###
!/.idea/copyright/
!/.idea/copyright/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Sample artifacts ###
samples/postgresql/network/client.json
samples/postgresql/network/databaseClient.json
samples/postgresql/network/tunnel/

samples/spring-jpa/network/*.json
samples/spring-jpa/network/simplified-docker-compose.yml
samples/spring-jpa/network/.env
samples/spring-jpa/network/default.env

